body {
    /* Nimbus mouse cursor */
    cursor: url('../images/nimbus.png'), auto;
    background-color: rgb(190, 190, 190);
    margin: 0;
}

/* Nimbus mouse cursor */
div:hover {
    /* Nimbus mouse cursor */
    cursor: url('../images/nimbus.png'), auto;
}

/* Container for banner */
.banner {
    display: flex;
    width: 100%;
    height: auto;
}

/* Background image of banner */
#banner_img {
    background-repeat: no-repeat;
    /* background-size: auto; */
    position: fixed;
    width: 100%;
}

/* Absolute position of logo to be top-left corner */
#logo {
    position: absolute;
    width: 30%;
    height: 10%;
    max-width: fit-content;
    max-height: fit-content;
    min-width: fit-content;
    min-height: fit-content;
}

/* Sidebar menu */
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkgreen;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Navigation link stylings */
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: yellow;
    display: block;
}

/* Nav link color change when hovered over */
.sidebar a:hover {
    color: purple;
}

/* Viewpoints 480px or less */
@media screen and (max-width: 480px) {
    #banner_img {
        height: 15vh;
    }

    .sidebar {
        padding: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

/* Viewports 481px to 768px */
@media screen and (max-width: 768px) {
    #banner_img {
        height: 20vh;
    }
}

/* Viewports 769px to 1024px */
@media screen and (max-width: 1024px) {
    #banner_img {
        height: 30vh;
        /* top: -10%; */
    }   
}

/* Viewports 1025px to 1200px  */
@media screen and (max-width: 1025px) {
    #banner_img {
        height: 5vh;
        /* image-rendering: auto; */
    }
}

/* Viewports 1201px or greater
@media screen and (min-width: 1201px) {
    #banner_img {
        height: min-content;
    }
} */