body {
    /* Nimbus mouse cursor */
    cursor: url('../images/nimbus.png'), auto;
    background-color: rgb(190, 190, 190);
    margin: 0;
}

/* Nimbus mouse cursor */
div:hover {
    /* Nimbus mouse cursor */
    cursor: url('../images/nimbus.png'), auto;
}

/* Container for banner */
.banner {
    display: block;
    width: 100%;
    max-height: auto;
}

/* Background image of banner */
#banner_img {
    background-repeat: no-repeat;
    background-size: auto;
    position: fixed;
    width: 100%;
}

/* Absolute position of logo to be top-left corner */
#logo {
    position: fixed;
    width: 30%;
    height: 10%;
    max-width: fit-content;
    max-height: fit-content;
    min-width: fit-content;
    min-height: fit-content;
}

/* Sidebar menu */
.sidebar {
    height: 100%;
    width: 20vh;
    position: fixed;
    /* z-index: 1; */
    top: 20vh;
    left: 0;
    background-color: darkgreen;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Sidebar link stylings */
.sidebar a {
    padding: 1vh 1vh 2vh 2vw;
    text-decoration: none;
    font-size: 2rm;
    color: yellow;
    display: block;
}

/* Sidebar link color change when hovered over */
.sidebar a:hover {
    color: purple;
}

/* Container for main content of body */
.content-container {
    display: block;
    background-color: hotpink;
    position: relative;
    max-width: 89.9%;
    height: auto;
    top: 20vh;
    left: 10vw;
    /* right: 0px; */
    overflow-y: auto;
    margin: 0;
    z-index: -1;
}

/* Custom Google Fonts */
.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 10;
    font-style: normal;
  }

/* Dragon Ball Super manga cover styling */
#dbs-cover {
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 70vh;
}

/* Page title styling */
#title {
    text-align: center;
    padding: 3rem;
}

/* <p> statement styling */
.p-statements {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    text-align: center;
    /* height: 50%; */
    padding-left: 5rem;
    padding-right: 5rem;
    text-wrap: wrap;
    justify-content: center;
}

/* Section with character image on left */
.char-left {
    display: flex;
    width: 100%;
    max-height: 50vh;
}

/* Section with character image on right */
.char-right {
    display: flex;
    width: 100%;
    max-height: 50vh;
}

/* Character image styling */
.char-styling {
    max-height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/* User input container */
.input-container {
    height: 100vh;
    margin: 10vh ;
}

/* Section for user login styling */
.user-input {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 50vw;
    height: auto;
    background-color: rgb(68, 39, 39);
}

/* User input styling */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



/* Viewpoints 480px or less */
@media screen and (max-width: 480px) {
    #banner_img {
        height: 15vh;
    }

    .sidebar {
        padding: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

/* Viewports 481px to 768px */
@media screen and (max-width: 768px) {
    #banner_img {
        height: 20vh;
    }
}

/* Viewports 769px to 1024px */
@media screen and (max-width: 1024px) {
    #banner_img {
        height: 30vh;
        /* top: -10%; */
    }   
}

/* Viewports 1025px to 1200px  */
@media screen and (min-width: 1024px) {
    #banner_img {
        height: 20vh;
        /* image-rendering: auto; */
    }
}

/* Viewports 1201px or greater
@media screen and (min-width: 1201px) {
    #banner_img {
        height: min-content;
    }
} */